.App{
  background-color: #f8f9fa;
}
.App__wrapper{
  width: 100%;
}
.App__content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.App__credits{
  margin: 10px 0;
  padding: 0;
  width: 100%;
}
.App__faves-empty{
  font-size: 20px;
}
@media (min-width: 1300px) {
  .App__faves-empty{
    font-size: 28px;
  }
}