.container {
  min-width: 320px;
  width: 320px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.container--movielist, .container--movieinfo {
  box-shadow: 20px 10px 28px -4px rgba(120, 68, 255, 0.2), -20px 10px 28px -4px rgba(120, 68, 255, 0.2);
}
.container--header{
  background-color: #d667ff;
}
.container--imageshow{
  background: linear-gradient(to bottom, #bb5dff, #dc9dff);
  position: relative;
  padding: 20px 0 10px 0;
  top: calc(50% - 140px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
  .container--header{
    padding-bottom: 0;
    z-index: 5;
  }
  .container--imageshow{
    padding: 20px 0 25px 0;
    top: calc(50% - 240px);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
}