.container {
  min-width: 320px;
  width: 320px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.container--movielist, .container--movieinfo, .container--gallery {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px -4px #bcc3d7, -5px 5px 5px -4px #bcc3d7;
  //min-height: calc(95vh - 123px);
  min-height: calc(100vh - 123px);
  background-color: white;
}
.container--header{
  background-color: #d0e6dd;
  box-shadow: 5px 5px 5px -4px #9eb4ab, -5px 5px 5px -4px #9fb4ab;
}
.container--gallery{
  align-items: flex-start;
  align-content: flex-start;
}
.container--similars{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.container--imageshow{
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 320px;
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
  .container--header{
    z-index: 5;
  }
  .container--imageshow{
    width: 640px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
  }
  .container--imageshow{
    width: 1000px;
  }
}