.Gallery__wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.Gallery__image{
  display: flex;
  align-items: center;
  width: 48%;
  margin: 0 auto 10px auto;
}
.Gallery__image img{
  width: 100%;
}
@media (min-width: 800px) {
  .Gallery__image{
    display: flex;
    align-items: center;
    width: 24%;
    margin: 0 1.3% 10px 0;
  }
  .Gallery__image:nth-child(4n){
    margin-right: 0;
  }
}