.Header{
  width: 100%;
  z-index: 10;
  background-color: #d9f0e7;
  color: #202821;
}
.Header h1{
  margin: 0 0 10px 0;
  text-align: center;
  transition: 0.1s;
}
.Header a{
  text-decoration: none;
  color: #747d75;
}
.Header h1:hover{
  color: #606960;
}
.Header h1:active{
  color: #272d28;
}
.Header__additional{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Header__btn{
  position: relative;
  padding: 5px;
  margin: 5px 0;
  background-color: #bfd7ce;
  border-radius: 5px;
  border-right: 1px solid #9dafa6;
  border-bottom: 1px solid #889b92;
  transition: 0.2s;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.Header__btn:hover{
  background-color: #b5cdc4;
  color: black;
}
.Header__btn:active{
  background-color: #b5cdc4;
  border: none;
  color: black;
}
.Header__btn--active{
  background-color: #b5cdc4;
  border: none;
  color: black;
}
.Header__btn--active:hover{
  background-color: #bfd7ce;
}
.Header__options{
  order: 2;
  cursor: pointer;
  user-select: none;
}
.Header__sidebar{
  order: 3
}
.Header__favorites{
  order: 4;
  padding: 0;
}
.Header__favorites a{
  display: block;
  width: 100%;
  padding: 5px;
}
.Header__favorites-nonbtn{
  margin-top: 10px;
}
.Header__favorites-nonbtn:hover{
  background-color: #b5cdc4;
}
.Header__back a{
  display: block;
}
.Header__search{
  order: 1;
  flex-grow: 2;
  padding: 10px;
  background-color: #cbe1d8;
  margin-bottom: 5px;
}
.Header__search input{
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #b7cdc1;
  padding: 2px 10px;
  width: 100%;
  outline: none;
  transition: 0.5s;
}
.Header__search input:focus{
  border-bottom: 2px solid #6d7d74;
  border-radius: 7px;
}

@media (min-width: 800px) {
  .Header h1{
    border-bottom: 2px solid #606960;
  }
  .Header h1:hover{
    border-bottom: 2px solid #202821;
  }
  .Header h1:active{
    border-bottom: 2px solid black;
  }
  .Header__additional{
    flex-direction: row;
    position: relative;
  }
  .Header__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
    position: relative;
    padding: 5px;
    margin: 5px 0;
    transition: 0.2s;
  }
  .Header__options{
    order: 1;
    margin-right: 10px;
  }
  .Header__sidebar{
    position: absolute;
    left: 0;
    top: 45px;
    order: 2
  }
  .Header__favorites{
    order: 3;
    padding: 0 5px;
  }
  .Header__search{
    order: 4;
    flex-grow: 2;
    background-color: transparent;
    padding: 0;
    margin: 8px 0 0 10px;
    height: 30px;
  }
  .Header__search input:focus{
    border-radius: 5px;
  }
  .Header__back{
    margin-right: 10px;
  }
  .Header__back a{
    padding: 0;
    margin: 0;
  }
  .Header__btn--active{
    margin-bottom: 225px;
  }
  .Header__favorites-nonbtn{
    margin-bottom: 5px;
  }
  .Header__additional--movie{
    position: relative;
  }
}

@media (min-width: 1300px) {
  .Header h1{
    font-size: 48px;
  }
  .Header__additional{
    font-size: 24px;
  }
  .Header__sidebar{
    top: 51px;
  }
  .Header__btn{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-size: 26px;
  }
  .Header__options, .Header__back{
    margin-right: 15px;
  }
  .Header__search{
    height: 50px;
    margin-top: 5px;
    margin-left: 15px;
  }
  .Header__search input{
    height: 50px;
    padding-left: 15px;
    display: flex;
    align-self: stretch;
    font-size: 24px;
  }
  .Header__search input:focus{
    border-radius: 10px;
  }
  .Header__options a, .Header__favorites a, .Header__back a {
    padding: 0;
  }
  .Header__btn--active{
    margin-bottom: 295px;
  }
  .Header__favorites-nonbtn{
    margin-bottom: 5px;
  }
}