.Movie{
  display: flex;
  width: 130px;
  position: relative;
  flex-direction: column;
  margin: 10px auto;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
}
.Movie:hover{
  box-shadow: 0 0 10px 0 rgba(98, 115, 106, 0.75);
}
.Movie img{
  max-width: 100%;
}
.Movie--preview{
  width: 140px;
}
.Movie__header{
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
}
.Movie__link{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-bottom: 29px;
  width: 100%;
}
.Movie__link picture, .Movie__link img{
  width: 100%;
}
.Movie--preview .Movie__link{
  margin-bottom: 0;
}
.Movie--preview .Movie__header{
  font-size: 14px;
  text-align: center;
  margin: 5px;
}
.Movie a{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 4px;
  transition: 0.2s;
}
.Movie--preview a:hover{
  border-radius: 5px;
}
.Movie__placeholder-mobile, .Movie__placeholder-tablet, .Movie__placeholder-desktop, .Movie__placeholder-tablet--desktop{
  background: url("https://oskarzeta.github.io/Moviesearcher/placeholder-image.png") center;
  background-size: cover;
}
.Movie__placeholder-mobile{
  width: 122px;
  height: 176px;
  display: block;
}
.Movie__placeholder-tablet, .Movie__placeholder-tablet--desktop{
  width: 192px;
  height: 289px;
  display: none;
}
.Movie__placeholder-desktop{
  width: 342px;
  height: 489px;
  display: none;
}
@media (min-width: 800px) {
  .Movie {
    width: 200px;
  }
  .Movie__link{
    padding-bottom: 34px;
  }
  .Movie--preview{
    width: 163px;
  }
  .Movie--preview .Movie__header{
    font-size: 16px;
    text-align: center;
    margin: 5px;
  }
  .Movie__placeholder-mobile{
    display: none;
  }
  .Movie__placeholder-tablet{
    display: block;
  }
  .Movie__placeholder-desktop{
    display: none;
  }
}
@media (min-width: 1300px) {
  .Movie {
    width: 351px;
    margin: 20px auto;
  }
  .Movie--preview{
    width: 215px;
  }
  .Movie:hover{
    box-shadow: 1px 1px 25px 0 rgba(98, 115, 106, 0.75);
  }
  .Movie--preview .Movie__header{
    font-size: 20px;
  }
  .Movie__header{
    font-size: 32px;
    margin: 10px 0 20px 0;
  }
  .Movie__link{
    margin-bottom: 20px;
  }
  .Movie__placeholder-mobile{
    display: none;
  }
  .Movie__placeholder-tablet{
    display: none;
  }
  .Movie__placeholder-tablet--desktop{
    display: block;
  }
  .Movie__placeholder-desktop{
    display: block;
  }
}