.MovieInfo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.MovieInfo__wrapper{
  background-color: white;
  position: relative;
  width: 100%;
}
.MovieInfo__title{
  margin-bottom: 10px;
  font-size: 28px;
  text-align: center;
  position: relative;
}
.MovieInfo__title span{
  position: relative;
  z-index: 1;
}
.MovieInfo__section-header{
  display: block;
  text-align: left;
  margin: 10px 5px 0 5px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.MovieInfo__info{
  padding: 10px;
  text-align: left;
  position: relative;
  border-bottom: 2px solid #d7d7d7;
}
.MovieInfo__info--na{
  font-style: italic;
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.MovieInfo__info--similars{
  padding: 10px 20px;
  border: none;
}
.MovieInfo__info--na-similars{
  margin-left: -15px;
}
.MovieInfo__info--gallery{
  margin: 0;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom: none;
  padding: 5px 0;
}
.MovieInfo__show-link{
  position: absolute;
  right: 0;
  bottom: 100%;
}
.MovieInfo__show-link a{
  color: #007bff;
}
.MovieInfo__show-link a:hover{
  text-decoration: none;
  color: #004991!important;
}
.MovieInfo__show-link a:visited{
  color: #007bff;
}
.MovieInfo__images-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.MovieInfo__image-preview{
  display: flex;
  align-items: center;
  width: 48%;
  margin: 5px auto 0 auto;
  position: relative;
}
.MovieInfo__image-preview:nth-child(1), .MovieInfo__image-preview:nth-child(2){
  margin-top: 0;
}
.MovieInfo__image-preview img{
  width: 100%;
}
.MovieInfo__poster-wrapper{
  position: relative;
  margin-bottom: 10px;
}
.MovieInfo__placeholder{
  padding-bottom: 5px;
}
.MovieInfo__placeholder-mobile, .MovieInfo__placeholder-tablet, .MovieInfo__placeholder-desktop{
  background: url("https://oskarzeta.github.io/Moviesearcher/placeholder-image.png") center;
  background-size: cover;
}
.MovieInfo__placeholder-mobile{
  width: 300px;
  height: 169px;
  display: block;
}
.MovieInfo__placeholder-tablet{
  width: 230px;
  height: 345px;
  display: none;
}
.MovieInfo__placeholder-desktop{
  width:  345px;
  height: 517px;
  display: none;
}
.MovieInfo__votebox{
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.MovieInfo__votebox-1{
  font-size: 20px;
  font-weight: bold;
}
.MovieInfo__votebox-2{
  font-size: 16px;
}
.MovieInfo__poster{
  width: 100%;
}
.MovieInfo__votes{
  display: flex;
  flex-direction: column;
  border-top: 2px solid #d7d7d7;
}
.MovieInfo__votes p{
  border: none;
  border-radius: 0;
  margin: 0;
}
.MovieInfo__vote-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.MovieInfo__vote-wrapper:last-child{
  margin-bottom: 10px;
}
.MovieInfo__genre-href{
  text-decoration: none;
  margin-right: 5px;
  color: #007bff!important;
}
.MovieInfo__genre-href:hover{
  color: #004991!important;
  text-decoration: none;
}
.MovieInfo__info--credits{
  padding: 5px;
  margin-bottom: 5px;
  border: none;
}
.MovieInfo__person{
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}
.MovieInfo__person:nth-child(even){
  background-color: #f5f5f5;
}
.MovieInfo__person:nth-child(odd){
  background-color: white;
}
.MovieInfo__person-name{
  text-align: left;
  margin-right: 20px;
}
.MovieInfo__person-character{
  text-align: right;
}
.MovieInfo__number{
  display: block;
  margin-right: 10px;
}

@media (min-width: 800px) {
  .MovieInfo__main{
    display: flex;
    justify-content: space-between;
  }
  .MovieInfo__right-column{
    margin-left: 15px;
    flex-grow: 2;
  }
  .MovieInfo__title{
    font-size: 38px;
    position: relative;
    z-index: 2;
  }
  .MovieInfo__images-wrapper{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .MovieInfo__image-preview{
    justify-content: center;
    width: 24%;
    margin: 0 auto 5px auto;
  }
  .MovieInfo__votebox{
    width: 40px;
    height: 40px;
    left: 0;
  }
  .MovieInfo__votebox-1{
    font-size: 24px;
    font-weight: bold;
  }
  .MovieInfo__votebox-2{
    font-size: 18px;
  }
  .MovieInfo__votes{
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
  }
  .MovieInfo__vote-wrapper{
    align-items: center;
    line-height: 0;
  }
  .MovieInfo__vote-wrapper .MovieInfo__section-header{
    font-size: 16px;
    margin-bottom: 0;
  }
  .MovieInfo__vote-wrapper span{
    padding: 0;
    margin-left: 5px;
  }
  .MovieInfo__vote-wrapper:last-child{
    margin-bottom: 0;
  }
  .MovieInfo__placeholder-mobile{
    display: none;
  }
  .MovieInfo__placeholder-tablet{
    display: block;
  }
  .MovieInfo__placeholder-desktop{
    display: none;
  }
  .MovieInfo__section-header{
    margin: 0 0 2px 0;
  }
  .MovieInfo__section-header--similars{
    margin-left: 10px;
  }
  .MovieInfo__info{
    margin: 0 0 10px 0;;
    padding: 0;
  }
  .MovieInfo__info--row{
    display: flex;
    flex-direction: row;
  }
  .MovieInfo__info--na-similars{
    margin-left: 10px;
  }
  .MovieInfo__poster-wrapper{
    width: 230px;
  }
  .MovieInfo__number{
    font-size: 15px;
    margin-right: 0;
  }
}

@media (min-width: 1300px) {
  .MovieInfo__title{
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 42px;
  }
  .MovieInfo__right-column{
    margin-left: 20px;
  }
  .MovieInfo__image-preview{
    width: 24%;
  }
  .MovieInfo__placeholder-mobile{
    display: none;
  }
  .MovieInfo__placeholder-tablet{
    display: none;
  }
  .MovieInfo__placeholder-desktop{
    display: block;
  }
  .MovieInfo__poster-wrapper{
    width: 345px;
    margin-bottom: 25px;
  }
  .MovieInfo__section-header{
    font-size: 22px;
    margin-bottom: 5px;
  }
  .MovieInfo__vote-wrapper .MovieInfo__section-header{
    font-size: 20px;
  }
  .MovieInfo__info{
    font-size: 20px;
    margin-bottom: 15px;
  }
  .MovieInfo__show-link{
    font-size: 20px;
  }
  .MovieInfo__genre-href{
    margin-right: 10px;
  }
  .MovieInfo__votebox{
    width: 70px;
    height: 70px;
    left: 0;
  }
  .MovieInfo__votebox-1{
    font-size: 42px;
    font-weight: bold;
  }
  .MovieInfo__votebox-2{
    font-size: 28px;
  }
  .MovieInfo__number{
    font-size: 20px;
  }
}