.Pagination{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
.Pagination__prev, .Pagination__next{
  display: block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  background: #0076eb;
  color: white;
  border-radius: 5px;
  padding: 2px;
  user-select: none;
  width: 70px;
  transition: 0.1s;
}
.Pagination__prev:hover, .Pagination__next:hover{
  text-decoration: none;
  background-color: #0060b9;
  color: white;
}
.Pagination__prev:active, .Pagination__next:active{
  opacity: 0.6;
}
.Pagination__prev span, .Pagination__next span{
  text-transform: uppercase;
  font-weight: bold;
}
.Pagination__prev{
  margin-right: 30px;
}
@media (min-width: 1300px) {
  .Pagination__prev, .Pagination__next{
    width: 130px;
  }
  .Pagination__prev{
    margin-right: 100px;
  }
  .Pagination__prev span, .Pagination__next span{
    font-size: 26px;
  }
}