.Pagination{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
.Pagination__prev, .Pagination__next{
  display: block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  background-color: #4071a5;
  color: white;
  border-radius: 5px;
  padding: 2px;
  user-select: none;
  width: 100px;
  transition: 0.1s;
}
.Pagination__prev:hover, .Pagination__next:hover{
  text-decoration: none;
  background-color: #3d6191;
  color: white;
}
.Pagination__prev:active, .Pagination__next:active{
  opacity: 0.8;
}
.Pagination__prev span, .Pagination__next span{
  text-transform: uppercase;
  font-weight: bold;
}
.Pagination__prev{
  margin-right: 30px;
}
@media (min-width: 800px) {
  .Pagination__prev, .Pagination__next{
    width: 100px;
    padding: 5px 0;
  }
  .Pagination__prev{
    margin-right: 100px;
  }
  .Pagination__prev span, .Pagination__next span{
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .Pagination__prev, .Pagination__next{
    width: 150px;
  }
  .Pagination__prev{
    margin-right: 150px;
  }
  .Pagination__prev span, .Pagination__next span{
    font-size: 26px;
  }
}