.Sidebar{
  width: 100%;
  margin: -5px 0 -5px 0;
  background: linear-gradient(to left, #4071a5 5%, #4283b9 50%, #4071a5 95%);
  padding: 5px 0;
}
.Sidebar__wrapper{
  display: flex;
  flex-direction: column;
  padding: 0 2px;
}
.Sidebar__header{
  font-size: 16px;
  margin: 0;
  text-align: left;
  padding-bottom: 3px;
}
.Sidebar__genreList-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-top: 3px;
  justify-content: space-around;
}
.Sidebar__genre-label{
  display: flex;
  width: 32%;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 2px;
  user-select: none;
}
.Sidebar__genre-label:hover{
  color: #d3dbe1;
}
.Sidebar__genre-input{
  display: none;
}
.Sidebar__genre-custom{
  box-sizing: border-box;
  display: flex;
  position: relative;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  margin-right: 8px;
  z-index: 0;
}
.Sidebar__genre-input:checked + .Sidebar__genre-custom{
  border: none;
}
.Sidebar__genre-input:checked + .Sidebar__genre-custom::after{
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4gICAgPHBhdGggZD0iTTIwIDEyLjE5NHY5LjgwNmgtMjB2LTIwaDE4LjI3MmwtMS45NTEgMmgtMTQuMzIxdjE2aDE2di01Ljc2OGwyLTIuMDM4em0uOTA0LTEwLjAyN2wtOS40MDQgOS42MzktNC40MDUtNC4xNzYtMy4wOTUgMy4wOTcgNy41IDcuMjczIDEyLjUtMTIuNzM3LTMuMDk2LTMuMDk2eiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=');
  background-size: cover;
  width: 14px;
  height: 14px;
  z-index: 2;
}
.Sidebar__genre-name{
  font-size: 11px;
}
.Sidebar__sort-params{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.Sidebar__sort-wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}
.Sidebar__sort-label{
  display: flex;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.Sidebar__sort-label:hover{
  color: #d3dbe1;
}
.Sidebar__sort-radiobtn{
  display: flex;
  align-items: center;
}
.Sidebar__sort-input{
  display: none;
}
.Sidebar__sort-custom{
  box-sizing: border-box;
  display: flex;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 8px;
}

.Sidebar__sort-input:checked + .Sidebar__sort-custom::after{
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  background: white;
  border-radius: 10px;
  margin: auto;
}
.Sidebar__sort-name{
  font-size: 11px;
}
.Sidebar__wrapper--hidden{
  display: none;
}
@media (min-width: 800px) {
  .Sidebar{
    padding: 10px;
  }
  .Sidebar__wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .Sidebar__header{
    margin: 5px 0;
  }
  .Sidebar__header-text{
    font-size: 18px;
    font-weight: bold;
  }
  .Sidebar__genreList-wrapper{
    margin: 0 5px;
    justify-content: flex-start;
  }
  .Sidebar__genre-label{
    width: 18%;
    margin-right: 13px;
  }
  .Sidebar__genre-name{
    font-size: 15px;
  }
  .Sidebar__sort-wrapper{
    flex-direction: row;
    justify-content: space-between;
    margin-right: -50px;
    width: 100%;
  }
  .Sidebar__sort-name{
    font-size: 16px;
    margin-right: 10px;
  }
  .Sidebar__sort{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  .Sidebar__sort-custom{
    margin-right: 5px;
  }
  .Sidebar__sort:last-child{
    width: 160px;
    flex-grow: 1;
  }
  .Sidebar__sort-params{
    display: flex;
    width: 100%;
  }
  .Sidebar__sort-label{
    border-radius: 4px;
    align-items: baseline;
    width: 25%;
  }
  .Sidebar__sort-wrapper--direction{
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
  }
  .Sidebar__sort-wrapper--direction label{
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .Sidebar__header{
    margin-top: 15px;
  }
  .Sidebar__header-text{
    font-size: 26px;
  }
  .Sidebar__genreList-wrapper{
    margin-left: 15px;
  }
  .Sidebar__genre-label{
    margin-right: 20px;
  }
  .Sidebar__genre-custom{
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .Sidebar__genre-input:checked + .Sidebar__genre-custom{
    border: none;
  }
  .Sidebar__genre-input:checked + .Sidebar__genre-custom::after{
    width: 21px;
    height: 22px;
  }
  .Sidebar__genre-name{
    font-size: 22px;
  }
  .Sidebar__sort:last-child{
    width: 255px;
  }
  .Sidebar__sort-name{
    font-size: 22px;
    margin-right: 20px;
  }
  .Sidebar__sort-custom{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .Sidebar__sort-input:checked + .Sidebar__sort-custom::after{
    width: 12px;
    height: 12px;
  }
  .Sidebar__sort-wrapper{
    margin: 0;
    padding-left: 15px;
    justify-content: space-between;
  }
  .Sidebar__sort-wrapper--direction{
    margin: 0;
  }
}