body{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", arial, SansSerif;
}
.App {
  text-align: center;
  min-width: 300px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  min-width: 320px;
  width: 320px;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.Header{
  background-color: #d667ff;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.Header h1{
  margin: 0;
  border-bottom: 4px solid #9d5bc3;
}
.Header a{
  text-decoration: none;
}
.Header__additional{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Header__back{
  width: 180px;
  padding: 10px;
}
.Header__favorites{
  width: 180px;
  padding: 10px;
}
.Header__options{
  width: 180px;
  min-width: 180px;
  padding: 10px;
}

.Favorites{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Search{
  flex-grow: 2;
  margin: 10px 10px 0 10px;
}
.Search input{
  min-width: 200px;
  width: 100%;
  outline: none;
}
.App__wrapper, .App__wrapper-movies{
  display: flex;
}
.App__wrapper{
  background-color: #f8f4ff;
  padding-top: 78px;
}
.App__wrapper-movies{
  flex-grow: 2;
  flex-direction: column;
}
.Sidebar{
  background-color: #c167eb;
  position: fixed;
  //min-height: 700px;
  height: 100%;
  //overflow-y: scroll;
}
.Sidebar__checkboxes{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.Sidebar__wrapper{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 760px;
  //overflow-y: scroll;
  //background-color: #c167eb;
}
.Sidebar__wrapper--hidden{
  display: none;
}
.Sidebar__sort-params{

}
.Sidebar__sort-params label{
  display: flex;
}
.Genre__label{
  display: flex;
}
.Genre__name{
  margin-left: 10px;
}

.Movies__wrapper{
  display: flex;
  flex-wrap: wrap;
}
.Movie, .Movie__preview{
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px auto;
  padding: 4px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}
.Movie{
  //width: 200px;
  width: 155px;
}
.Movie__preview{
  width: 155px;
  //width: 200px;
}
.Movie__link{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
.Movie a, .Movie__preview a{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
}

.Movie__header, .Movie__preview-header{
  font-size: 16px;
  text-align: center;
}

.FaveBtn{
  position: absolute;
  bottom: -1px;
  left: -1px;
  background-color: #9d5bc3;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 40px;
  z-index: 5;
}
.Pagination{
  display: flex;
  justify-content: center;
}
.prev, .next{
  padding: 10px;
  cursor: pointer;
}
.prev{
  margin-right: 30px;
}
.MovieInfo{
  display: flex;
  justify-content: center;
}
.MovieInfo__wrapper{
  min-width: 300px;
  width: 300px;
  background-color: white;
  position: relative;
}
.MovieInfo__title{
  margin: 10px 0;
  font-size: 20px;
}
.MovieInfo__section-header{
  display: block;
  text-align: left;
  margin: 10px 20px;
  color: grey;
  font-style: italic;
}
.MovieInfo__description-wrapper{

}
.MovieInfo__info{
  margin: 0 20px;
  padding: 10px;
  text-align: left;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-top-left-radius: 10px;
  position: relative;
  //flex-grow: 2;
}
.MovieInfo__show-link{
  position: absolute;
  right: 0;
  bottom: 100%;
  margin-bottom: 10px;
}
.MovieInfo__images-wrapper{
  display: flex;
  justify-content: space-around;
}
.MovieInfo__image-preview{
  display: flex;
  align-items: center;
}
.MovieInfo__votebox{
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75);
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MovieInfo__votebox-1{
  font-size: 20px;
  font-weight: bold;
}
.MovieInfo__votebox-2{
  font-size: 16px;
}
.MovieInfo__backdrop{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.MovieInfo__vote-wrapper{
  display: flex;
  flex-direction: column;
}
.MovieInfo__vote-wrapper p{
  border: none;
  border-radius: 0;
}
.MovieInfo__vote-wrapper > div{
  display: flex;
  justify-content: space-between;
  //width: 40%;
}
.MovieInfo__genre-href{
  text-decoration: none;
  margin-right: 5px;
}
.MovieInfo__info--credits{
  background-color: #fafafa;
}
.MovieInfo__person{
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
.MovieInfo__person:nth-child(odd){
  background-color: #f5f5f5;
}
.MovieInfo__person:nth-child(even){
  background-color: white;
}
.MovieInfo__person-name{
  text-align: left;
}
.MovieInfo__person-character{
  text-align: right;
}

.Gallery{

}
.Gallery__wrapper{
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  width: 300px;
  background-color: white;
  padding: 10px 20px;
  margin: 0 auto;
  position: relative;
}
.Gallery__wrapper a{
  margin: 0 auto 10px auto;
}
.Crew__wrapper, .Cast__wrapper{
  list-style-type: none;
  min-width: 300px;
  width: 300px;
  padding: 10px 20px;
  margin: 0 auto;
}
.ImageShow {
  position: fixed;
  z-index: 6;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.hidden {
  display: none;
}


@media (min-width: 800px) {
  .Movie {
    width: 190px;
  }
  .MovieInfo__wrapper{
    width: 780px;
  }
  .MovieInfo__title{
    font-size: 38px;
  }
  .MovieInfo__votebox{
    width: 60px;
    height: 60px;
    left: 0;
  }
  .MovieInfo__votebox-1{
    font-size: 32px;
    font-weight: bold;
  }
  .MovieInfo__votebox-2{
    font-size: 20px;
  }
  .MovieInfo__backdrop{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .MovieInfo__vote-wrapper{
    flex-direction: row;
    justify-content: space-between;
  }
  .MovieInfo__vote-wrapper p{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-top-left-radius: 10px;
  }
  .Gallery__wrapper{
    width: 780px;
  }
  .Crew__wrapper, .Cast__wrapper{
    width: 780px;
  }
  .container {
    width: 780px;
  }
}
@media (min-width: 1300px) {
  .Movie {
    width: 350px;
  }
  .MovieInfo__wrapper{
    width: 1280px;
  }
  .MovieInfo__votebox{
    width: 70px;
    height: 70px;
    left: 0;
  }
  .MovieInfo__votebox-1{
    font-size: 42px;
    font-weight: bold;
  }
  .MovieInfo__votebox-2{
    font-size: 28px;
  }
  .Gallery__wrapper{
    width: 1280px;
  }
  .Crew__wrapper, .Cast__wrapper{
    width: 1280px;
  }
  .container {
    width: 1280px;
  }
}